<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pathway+Gothic+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="style.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{cv.title}}</title>
</head>

<body>
    <div class="spacer">
        <header>
            <h1>{{cv.name}}</h1>
            <h4>{{cv.email}}<span>{{cv.phoneNumber}}</span></h4>
        </header>
        <section>
            <div class="container">
                <h2>About me</h2>
                <p class="about-text">
<<<<<<< HEAD
                    {{cv.aboutMe}}
=======
                    A creative professional problem solver with a best of both worlds background in troubleshooting and programming. Quick to
                    master new technologies, experienced in a fast-paced multi-cultural environment, customer focused and passionate about
                    delivering high quality results.
>>>>>>> 8aab3931033e1de3215e8cbd126a22d5c4935f7b
                </p>
            </div>
        </section>
        <section class="xp-section">
            <div class="container fullwidth">
                <h2>Experience</h2>
                <div class="xp-container">
                    {{#each cv.experience}}
                    <div class="xp-item">
<<<<<<< HEAD
                        <div class="xp-time">{{this.startTime}}<br>{{this.endTime}}</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">{{this.jobTitle}}</div>
                            <div class="xp-company">{{this.jobCompany}}</div>
                            <div class="xp-job-desc">{{this.jobDescription}}
=======
                        <div class="xp-time">November 2017<br>Present</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">Azure App Services Technical Advisor</div>
                            <div class="xp-company">Microsoft</div>
                            <div class="xp-job-desc">Technical Advisor for the Azure App Services Open Source Software team, Key Responsibilities - Assisting the EMEA team with in-depth technical knowledge, creating and delivering training, continuous effort along side the Readiness and Supportability global teams, handling customer escalations Main Skills - Team management, training delivery, troubleshooting/implementing cloud based solutions using OSS technologies (Node.js, PHP, Java, Docker) and Azure-based SaaS offerings, in-depth knowledge of Azure App Services, Azure Functions and other related technologies
                            </div>
                        </div>
                    </div>
                    <div class="xp-item">
                        <div class="xp-time">July 2016<br>November 2017</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">Azure App Services Support Engineer</div>
                            <div class="xp-company">Microsoft</div>
                            <div class="xp-job-desc">Key Responsibilities - Resolve issues and enable customers to be successful though Support Requests; Determine potential improvements and suggest changes; Collaborate globally with the extended team and Product Group Main Skills - Troubleshoot configuration, performance and development related issues; Understand complex infrastructures and pin-point issues; Suggest configuration/code changes; Assist customers in adapting their solutions to Azure App Services Technologies used: Azure App Services, Azure Function Apps, ASP.NET, ASP.NET Core, Node.js, PHP, Java, Docker, Kubernetes, DevOps solutions (VSTS, Jenkins)

                            </div>
                        </div>
                    </div>
                    <div class="xp-item">
                        <div class="xp-time">July 2015<br>June 2016</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">Bug Diagnostics Engineer - Customizations Technical Lead</div>
                            <div class="xp-company">Oracle</div>
                            <div class="xp-job-desc">As a Technical Lead my focus was shifted towards team enabling. This includes handling escalations,
                                technical guidance, skill assessment, management meetings and handling ambiguous situations.
                                During this period I have on-boarded three new hires using one-on-one training sessions and
                                shadowing techniques.
                            </div>
                        </div>
                    </div>
                    <div class="xp-item">
                        <div class="xp-time">October 2014<br>July 2015</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">Bug Diagnostics Engineer - Customizations</div>
                            <div class="xp-company">Oracle</div>
                            <div class="xp-job-desc">Bug Diagnostics Engineers are the top support tier in Oracle. Focused on customizable areas of
                                Oracle Service Cloud, public APIs and other integrated products (Oracle Policy Automation,
                                LiveLook, Oracle Social Network, etc.), this position requires diagnosing and documenting
                                both product and documentation defects, a strong collaboration with the development team
                                and working with technical customers for troubleshooting custom integrations and implementations.
                            </div>
                        </div>
                    </div>
                    <div class="xp-item">
                        <div class="xp-time">July 2014<br>October 2014</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">Technical Support Engineer</div>
                            <div class="xp-company">Oracle</div>
                            <div class="xp-job-desc">Technical support for the Oracle Service Cloud (formerly known as RightNow) cloud-based CRM.
                                During this period I was part of the ‘First Responders’ team as a first point of contact
                                for customers.
                            </div>
                        </div>
                    </div>
                    </div>
                    </div></section>  
                    <section class="break xp-section">
            <div class="container fullwidth">
                
                <div class="xp-container">
                    
                    <div class="xp-item">
                        <div class="xp-time">January 2014<br>July 2014</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">Software Developer</div>
                            <div class="xp-company">Ka&amp;Te Associates</div>
                            <div class="xp-job-desc">Developing custom PHP-based web-apps and websites either from ground-up or by adapting existing
                                website frameworks, testing and identifying any technical issues.
                            </div>
                        </div>
                    </div>
                    <div class="xp-item">
                        <div class="xp-time">March 2012<br>January 2014</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">System Administrator</div>
                            <div class="xp-company">Ka&amp;Te Associates</div>
                            <div class="xp-job-desc">Monitoring and maintaining the computer systems, servers, databases and network of clients; Troubleshooting
                                software and hardware issues; Upgrading and optimizing information systems; Offering direct
                                support and feedback to clients via phone, email or a ticketing system.
>>>>>>> 8aab3931033e1de3215e8cbd126a22d5c4935f7b
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>
<<<<<<< HEAD
        <section id="skills">
            <h5>{{cv.name}}<span>{{cv.email}}</span><span>{{cv.phoneNumber}}</span></h5>
        </section>
        <section class="xp-section">
            <div class="container fullwidth">
                <h2>Soft Skills</h2>
                <p>{{cv.softSkills}}</p>
=======
        
        <section class="xp-section">
            <div class="container fullwidth">
                <h2>Soft Skills</h2>
                <p>Five years of experience in direct customer support in an international and multi-cultural environment Both
                    a great team worker and an emphatic leader with experience in setting the team up for success by understanding
                    individual needs and offering the proper help with long term positive effects.</p>
                    <p>A knack for explaining complex concepts to non technical people, good technical speaker and trainer quickly to adapt to the audience.</p>
                    <p>Fluent in English and
                    Romanian.</p>
>>>>>>> 8aab3931033e1de3215e8cbd126a22d5c4935f7b
            </div>
        </section>
        <section class="xp-section">
            <div class="container fullwidth">
                <h2>Technical Skills</h2>
                <p>
<<<<<<< HEAD
                    {{{cv.techSkills}}}
=======
                    A strong open-source web development background with <b>Node.js</b> and <b>PHP</b> in both Full-Stack
                    and decoupled approaches. Big fan of microservices, containers and automation. Heavy <b>Git</b> and <b>VSTS</b> user.<br>
                    <br>
                    Highly experienced with the Microsoft Azure PaaS offering 
                    - <b>App Services</b> and Azure <b>Functions</b>, as well other SaaS/PaaS technologies - <b>Azure Storage</b>, <b>Logic Apps</b>, <b>Azure Active Directory</b>, <b>Container Services</b>.
                    <br>
                    A cloud-first approach advocate, comfortable with <b>multi-tenancy</b> and <b>multi-instance</b> environments, their common challenges and how to solve them.

>>>>>>> 8aab3931033e1de3215e8cbd126a22d5c4935f7b
                </p>
            </div>
        </section>
        <section class="xp-section">
            <div class="container fullwidth">
                <h2>Certifications</h2>
                {{#each cv.certifications}}
                <div class="cert-container">
                    <div class="cert-title">{{this.name}}</div>
                    <div class="cert-issuer">{{this.issuer}}</div>
                    <div class="cert-date">{{this.date}}</div>
                </div>
                {{/each}}
            </div>
        </section>
        <section class="break xp-section">
            <div class="container fullwidth">
                <h2>Education</h2>
                <div class="xp-container">
                    {{#each cv.education}}
                    <div class="xp-item">
                        <div class="xp-time">{{this.date}}</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">{{this.name}}</div>
                            <div class="xp-company">{{this.institution}}</div>
                            <div class="xp-job-desc">{{{this.description}}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                   
                </div>
            </div>
        </section>
        <aside>
            <a class="button" alt="Print this page" id="print"><i class="fa fa-print cta" aria-hidden="true"></i><span class="tooltiptext">Print this page</span></a>
            <a class="button" alt="Download PDF" id="download" href="/download" download="Razvan_GRIGORAS_CV.pdf"><i class="fa fa-download cta" aria-hidden="true"></i><span class="tooltiptext">Download PDF</span></a>
            <a class="button" alt="View project on GitHub" id="github" href="https://github.com/rzvme/cv"><i class="fa fa-github cta" aria-hidden="true"></i><span class="tooltiptext">View project on GitHub</span></a>
        </aside>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script>
        document.getElementById("download").addEventListener("click", downloadAction);
        document.getElementById("print").addEventListener("click", printAction);
        document.getElementById("github").addEventListener("click", githubAction);
        function printAction() { action("print"); window.print(); }
        function downloadAction() { action("download") }
        function githubAction() { action("github") }

        function action(x) {
            axios.post("/action", {
                action: x
            })
                .then(function (response) {
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    </script>
</body>

</html>