<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pathway+Gothic+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="style.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{cv.title}}</title>
</head>

<body>
    <div class="spacer">
        <header>
            <h1>{{cv.name}}</h1>
            <h4>{{cv.email}}<span>{{cv.phoneNumber}}</span></h4>
        </header>
        <section>
            <div class="container">
                <h2>About me</h2>
                <p class="about-text">
                    {{cv.aboutMe}}
                </p>
            </div>
        </section>
        <section class="xp-section">
            <div class="container fullwidth">
                <h2>Experience</h2>
                <div class="xp-container">
                    {{#each cv.experience}}
                    <div class="xp-item">
                        <div class="xp-time">{{this.startTime}}<br>{{this.endTime}}</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">{{this.jobTitle}}</div>
                            <div class="xp-company">{{this.jobCompany}}</div>
                            <div class="xp-job-desc">{{this.jobDescription}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>
        <section id="skills">
            <h5>{{cv.name}}<span>{{cv.email}}</span><span>{{cv.phoneNumber}}</span></h5>
        </section>
        <section class="xp-section">
            <div class="container fullwidth">
                <h2>Soft Skills</h2>
                <p>{{cv.softSkills}}</p>
            </div>
        </section>
        <section class="xp-section">
            <div class="container fullwidth">
                <h2>Technical Skills</h2>
                <p>
                    {{{cv.techSkills}}}
                </p>
            </div>
        </section>
        <section class="xp-section">
            <div class="container fullwidth">
                <h2>Certifications</h2>
                {{#each cv.certifications}}
                <div class="cert-container">
                    <div class="cert-title">{{this.name}}</div>
                    <div class="cert-issuer">{{this.issuer}}</div>
                    <div class="cert-date">{{this.date}}</div>
                </div>
                {{/each}}
            </div>
        </section>
        <section class="break xp-section">
            <div class="container fullwidth">
                <h2>Education</h2>
                <div class="xp-container">
                    {{#each cv.education}}
                    <div class="xp-item">
                        <div class="xp-time">{{this.date}}</div><i class="fa fa-square bull" aria-hidden="true"></i>
                        <div class="xp-desc">
                            <div class="xp-job-title">{{this.name}}</div>
                            <div class="xp-company">{{this.institution}}</div>
                            <div class="xp-job-desc">{{{this.description}}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                   
                </div>
            </div>
        </section>
        <aside>
            <a class="button" alt="Print this page" id="print"><i class="fa fa-print cta" aria-hidden="true"></i><span class="tooltiptext">Print this page</span></a>
            <a class="button" alt="Download PDF" id="download" href="/download" download="Razvan_GRIGORAS_CV.pdf"><i class="fa fa-download cta" aria-hidden="true"></i><span class="tooltiptext">Download PDF</span></a>
            <a class="button" alt="View project on GitHub" id="github" href="https://github.com/rzvme/cv"><i class="fa fa-github cta" aria-hidden="true"></i><span class="tooltiptext">View project on GitHub</span></a>
        </aside>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script>
        document.getElementById("download").addEventListener("click", downloadAction);
        document.getElementById("print").addEventListener("click", printAction);
        document.getElementById("github").addEventListener("click", githubAction);
        function printAction() { action("print"); window.print(); }
        function downloadAction() { action("download") }
        function githubAction() { action("github") }

        function action(x) {
            axios.post("/action", {
                action: x
            })
                .then(function (response) {
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    </script>
</body>

</html>